body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #141f99;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #3c3d38;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.info {
    background-color: #FFF;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #D35400;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #20aacd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

ul li span {
    font-weight: bold;
    color: #2980B9;
}

footer {
    margin-top: 20px;
}

